<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JavaExecutable" value="C:\Program Files\Java\jre1.5.0_06\bin\java.exe"/>
    <add key="WorkingDirectory" value="D:\Projects\KableDirect\KableDirect.Solr.Search"/>
    <add key="Solr.Home" value="multicore"/>
    <add key="ShowConsole" value="false"/>
  </appSettings>
</configuration>