<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="JavaExecutable" value="C:\Program Files (x86)\Java\jre1.5.0_12\bin\java.exe"/>
        <add key="WorkingDirectory" value="C:\apache-solr-1.4.1"/>
        <add key="Solr.Home" value="multicore"/>
        <add key="CommandLineArgs" value="-Djava.util.logging.config.file=logging.properties"/>
        <add key="ShowConsole" value="false"/>
        <add key="Port" value="8984"/>
        <add key="InstanceName" value="KableProperty"/>
    </appSettings>
</configuration>